@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	background: #eee;
	height: 100%;
}
body {
	height: 100%;
}

#root {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/* min-height: 90vh; */
}

#container {
	max-width: 360px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: #e3350d;
	border-radius: 10px;
	padding: 5px;
	z-index: 1;
	overflow-x: hidden;
}

#flavorText {
	background: white;
	border-radius: 10px;
	padding: 5px;
}

#pkmnImg {
	max-width: 250px;
	min-height: 250px;
}

@media (max-width: 400px) {
	#pkmnImg {
		max-width: 50%;
		min-height: 175px;
	}
	#spinnerImg {
		max-width: 50%;
	}
}
